body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(82, 25, 25);
    color: black;
}

main {
    max-width: 900px;
    margin: 60px auto;
    padding: 20px;
}

.project-detail {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 6px 12px black;
    text-align: center;
}

.project-detail h1 {
    margin-top: 0;
    color: black;
    font-size: 2em;
}

.project-detail p {
    line-height: 1.6;
    margin: 20px 0;
    font-size: 1.1em;
}

.pdf-container {
    margin: 30px 0;
}

.pdf-container iframe {
    width: 100%;
    height: 600px;
    border: 1px solid white;
    border-radius: 8px;
}

.download-btn {
    display: inline-block;
    padding: 12px 25px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s;
    margin-top: 15px;
}

.download-btn:hover {
    background-color: rgb(82, 25, 25);
    color: black;
}

.back-to-projects {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 40px;
    padding: 10px 20px;
    background: black;
    border: 1px solid black;
    border-radius: 4px;
}

.back-to-projects:hover {
    background-color: white;
    color: black;
    transform: translateX(-5px);

}